

     <div class="flex main-container w-full bg-[#F1F5F9]">
        <!-- bg-[#FBFBFB] -->
      
        
      
        <div class="hidden border-r border-gray-200 lg:w-1/5 md:w-1/5 md:flex">
          <div class="siderbar-menu">
            <app-sidebar></app-sidebar>
          </div>
        </div>
      
        <div  class="mt-10 w-full md:w-4/5 lg:w-4/5  lg:mx-10 md:mx-6 overflow-y-auto md:w-screen overflow-x-hidden" >
            <div class="border-b border-gray-200 pb-10 ">
                <div class=" text-gray-900 " style=" border-radius: 20px 20px 0 0;" >
        
                    <ul class="mx-8 ">
                        <li class="relative px-6 py-4 flex flex-col gap-6 justify-center" style="background-image: url('assets/images/profile-cover.jpg');">
                          <div
                            class="inline-flex items-center justify-center gap-8 w-full text-lg font-semibold transition-colors duration-150 "
                           
                          >
                           <div class="flex flex-col items-center">
                            <img [src]="userDetails.profileImage" class="w-20 h-20 rounded-full" alt="">
                            <span class="ml-2 font-normal">{{userDetails.username}} </span>
                        </div>
                           <div class="" >
                            
                            <span class="ml-2"> {{userDetails.fullName}} </span>
                           </div>
                           <button class="text-white bg-[#0284C7] py-2 px-4 border-gray-100 rounded-md text-lg hover:bg-[#0284C7] font-light" (click)="isFormVisible=!isFormVisible">
                            Edit Profile
                          </button>
                          
                        </div>
                          <div *ngIf="user" class="flex justify-center font-bold items-center">
                            <p class="flex gap-6 text-lg "><span class="hover:text-blue-500 hover:cursor-pointer" >4 POSTS </span> | <span class="hover:text-blue-500 hover:cursor-pointer" (click)="isVisible=!isVisible">{{ user.followingCount }}  Followers</span> | <span class="hover:text-blue-500 hover:cursor-pointer" (click)="notVisible=!notVisible">{{ user.followersCount }} FOLLOWING</span></p>
                        </div>
                        </li>
                        
                        </ul>
            
                      
                  </div>
            </div>
            <div class="border-b border-gray-200 overflow-y-hidden pb-10">
                <h4 class="text-gray-900 flex gap-3 ">POSTS</h4>
                <div class="flex gap-3 flex-wrap">
                    <img (click)="hidden=!hidden" src="assets/images/post5.jpg" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post6.jpg" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post7.png" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post4.jpg" width="300px" alt="">
                </div>
            </div>
            <div class="py-2 mb-10" >
                
                    <div class="flex items-center gap-3 pb-8">
                        <img class="w-6 h-6 transform transition hover:scale-105 duration-300 ease-in-out" src="assets/images/bookmark.svg" alt="">
                        <h4 class="text-gray-900 text-lg">SAVED</h4>
                      </div>
                    
                <div class="flex gap-3 flex-wrap">
                    <img (click)="hidden=!hidden" src="assets/images/post5.jpg" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post6.jpg" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post7.png" width="300px" alt="">
                    <img (click)="hidden=!hidden" src="assets/images/post4.jpg" width="300px" alt="">
                </div>
            </div>
              
            </div>
      </div>
      
      <app-comment *ngIf="!hidden"></app-comment>
      

        <app-edit-profile *ngIf="!isFormVisible"></app-edit-profile>
        <app-followers *ngIf="!isVisible"></app-followers>
         <app-following *ngIf="!notVisible"></app-following>

         <app-comment *ngIf="!hidden" ></app-comment>