<div class="flex  gap-10 w-full bg-teal-500">
    <app-sidebar  style="height: 100vh;  width: 20%;"></app-sidebar>
    
    <div class="overflow-y-auto mx-6 mt-5 justify-center" style="width: 80%;">
    <div class="border-b border-white pb-10 ">
        <div class=" text-white " style="background-color: #163A5F;width: 920px;  ; border-radius: 20px 20px 0 0;" >

            <ul class="mx-8 ">
                <li class="relative px-6 py-4 flex flex-col gap-6 justify-center">
                  <a
                    class="inline-flex items-center justify-center gap-8 w-full text-lg font-semibold transition-colors duration-150 "
                   
                  >
                   <div class="flex flex-col items-center">
                    <img src="assets/images/profile2.png" class="w-30 h-30 rounded-full" alt="">
                    <span class="ml-2 font-normal">Isoo123</span>
                </div>
                   <div class="" >
                    
                    <span class="ml-2">Isaac Kilimo</span>
                   </div>
                   <button class="text-gray-900 bg-white py-2 px-4 border-gray-100 rounded-md text-lg hover:bg-gray-200 font-light" (click)="isFormVisible=!isFormVisible">
                    Edit Profile
                  </button>
                  
                  </a>
                  <div class="flex justify-center font-bold items-center">
                    <p class="flex gap-6 text-lg "><span class="hover:text-gray-300 hover:cursor-pointer" >250 POSTS </span> | <span class="hover:text-gray-300 hover:cursor-pointer" (click)="isVisible=!isVisible"> 110 FOLLOWERS</span> | <span class="hover:text-gray-300 hover:cursor-pointer" (click)="notVisible=!notVisible">20 FOLLOWING</span></p>
                </div>
                </li>
                
                </ul>
    
              
          </div>
    </div>
    <div class="border-b border-white pb-10">
        <h4 class="text-gray-100 flex gap-3 ">POSTS</h4>
        <div class="flex gap-3 flex-wrap">
            <img src="assets/images/post5.jpg" width="300px" alt="">
            <img src="assets/images/post6.jpg" width="300px" alt="">
            <img src="assets/images/post7.png" width="300px" alt="">
            <img src="assets/images/post4.jpg" width="300px" alt="">
        </div>
    </div>
    <div class="py-2 mb-10" >
        
            <div class="flex items-center gap-3 pb-8">
                <img class="w-6 h-6 transform transition hover:scale-105 duration-300 ease-in-out" src="assets/images/bookmark.svg" alt="">
                <h4 class="text-gray-100 text-lg">SAVED</h4>
              </div>
            
        <div class="flex gap-3 flex-wrap">
            <img src="assets/images/post5.jpg" width="300px" alt="">
            <img src="assets/images/post6.jpg" width="300px" alt="">
            <img src="assets/images/post7.png" width="300px" alt="">
            <img src="assets/images/post4.jpg" width="300px" alt="">
        </div>
    </div>
      
    </div>
     </div> 

        <app-edit-profile *ngIf="!isFormVisible"></app-edit-profile>
        <app-followers *ngIf="!isVisible"></app-followers>
    <app-following *ngIf="!notVisible"></app-following>