

<div class="flex bg-white-smoke items-center min-h-screen p-6 bg-blue-200 ">
    <div
      class="flex-1 bg-blue-500 h-full max-w-4xl mx-auto overflow-hidden rounded-lg shadow-xl dark:bg-gray-800"  
    >
      <div class="flex flex-col overflow-y-auto md:flex-row">
        <div class="h-32 md:h-auto md:w-1/2">
          <img
            aria-hidden="true"
            class="object-cover w-full h-full dark:hidden"
            src="/assets/images/talky.jpg"
            alt="forgot"
          />
          <img
            aria-hidden="true"
            class="hidden object-cover w-full h-full dark:block"
            src="/assets/images/forgot1.png"
            alt="Office"
          />
        </div>
        <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
          <div class="w-full">
            <h1
              class="mb-4 text-xl font-semibold text-white text-center"
            >
                Reset Your password
            </h1>
            <form class="space-y-6 mt-7" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
              <div>
                <label for="email" class="block text-lg mb-3 font-medium leading-6 text-gray-900 ">Email address</label>
                <div class="mt-2">
                  <input id="email" formControlName="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg sm:leading-6 py-2 p-3">
                  <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('required')" class="text-red-500">Email is required</div>
                      <div data-cy="error-message-email" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('email')" class="text-red-500">Not a valid email</div> -->
                </div>
                <label for="resetToken" class="block text-lg mb-3 font-medium leading-6 text-gray-900 ">Token</label>
                <div class="mt-2">
                  <input  formControlName="resetToken" type="text" autocomplete="resetToken" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg sm:leading-6 py-2 p-3">
                  <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('required')" class="text-red-500">Email is required</div>
                      <div data-cy="error-message-email" *ngIf="logInUserForm.get('email')?.touched && logInUserForm.get('email')?.hasError('email')" class="text-red-500">Not a valid email</div> -->
                </div>
              </div>
        
              <div>
                <div class="flex items-center justify-between">
                  <label for="password" class="block text-lg font-medium leading-6 text-gray-900  ">New Password</label>
                
                </div>
                <div class="mt-2">
                  <input formControlName="newPassword" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 lg:text-lg lg:leading-6 py-2 p-3">
                  <!-- <div data-cy="error-message" *ngIf="logInUserForm.get('password')?.touched && logInUserForm.get('password')?.hasError('required')" class="text-red-500">Password is required</div> -->
                </div>
                
              </div>
        
              <div>
      
                <button type="submit" class="flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700">Reset Password</button>
              </div>
            </form>
          <div class="text-bold text-lg text-white flex justify-between">
          
            <p> <a routerLink="/" class="underline hover:text-blue-300"> Login</a></p>
    
          </div>
          </div>
        </div>
      </div>
    </div>


