<div class="flex  gap-10 w-full bg-teal-500">
<app-sidebar style="width: 20%;"></app-sidebar>
<div class="flex overflow-y-auto">
  <div class="h-full" style="background-color: #1D566E;width: 50%; margin: 20px ; border-radius: 20px;" >

    <div>
        <ul class="inline-flex items-center">
            <li class="relative px-6 py-4">
                <a
                  class=" w-full transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                 
                >
                  <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full border-4 border-green-500 " alt="">
                  <span class="ml-2">PROFILE</span>
                </a>
              </li>
              <li class="relative px-6 py-4">
                <a
                  class=" w-full  transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  href="modals.html"
                >
                  <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
                  <span class="ml-2">PROFILE</span>
                </a>
              </li>
              <li class="relative px-6 py-4">
                <a
                  class=" w-full  transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  href="modals.html"
                >
                  <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
                  <span class="ml-2">PROFILE</span>
                </a>
              </li>
              <li class="relative px-6 py-4">
                <a
                  class=" w-full  transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                  href="modals.html"
                >
                  <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
                  <span class="ml-2">PROFILE</span>
                </a>
              </li>
         
        </ul>
    </div>
    
    <div
      class="sec4-img4 p-4 flex flex-col justify-between rounded-md shadow-md hover:shadow-lg transition duration-300"
    >
 <ul>
  <li class="relative px-6 py-4">
    <a
      class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
      href="modals.html"
    >
      <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
      <span class="ml-2">DanKariuki</span>
      <img src="" alt="">
      <span class="ml-2" >3h</span>
    </a>
  </li>
 </ul>
      <img
        src="assets/images/post2.jpg"
        class="w-full h-48 object-cover mb-2 rounded-md transform transition hover:scale-105 duration-300 ease-in-out"
      />
      <div class="flex justify-between items-center">
        <div class="flex gap-10">
          <img src="assets/images/heart.svg" alt="">
          <img src="assets/images/comment.svg" alt="">
        </div>
        <div>
          <img src="assets/images/bookmark.svg" alt="">
        </div>
      </div>
      <p class="text-lg font-bold">123 Likes</p>
      <p class="text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse cupiditate quam aliquam </p>

      <p class="text-lg font-bold text-blue-300">View All 571 comments</p>
     <div class="flex justify-between items-center">
      <form >
        <input type="text" placeholder="Add a comment">
      </form>
      <span>post</span>
     </div>
    </div>

    <div
    class="sec4-img4 p-4 flex flex-col justify-between rounded-md shadow-md hover:shadow-lg transition duration-300"
  >
<ul>
<li class="relative px-6 py-4">
  <a
    class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
    href="modals.html"
  >
    <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
    <span class="ml-2">DanKariuki</span>
    <img src="" alt="">
    <span class="ml-2" >3h</span>
  </a>
</li>
</ul>
    <img
      src="assets/images/post2.jpg"
      class="w-full h-48 object-cover mb-2 rounded-md transform transition hover:scale-105 duration-300 ease-in-out"
    />
    <div class="flex justify-between items-center">
      <div class="flex gap-10">
        <img src="assets/images/heart.svg" alt="">
        <img src="assets/images/comment.svg" alt="">
      </div>
      <div>
        <img src="assets/images/bookmark.svg" alt="">
      </div>
    </div>
    <p class="text-lg font-bold">123 Likes</p>
    <p class="text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse cupiditate quam aliquam </p>

    <p class="text-lg font-bold text-blue-300">View All 571 comments</p>
   <div class="flex justify-between items-center">
    <form >
      <input type="text" placeholder="Add a comment">
    </form>
    <span>post</span>
   </div>
  </div>
  <div
  class="sec4-img4 p-4 flex flex-col justify-between rounded-md shadow-md hover:shadow-lg transition duration-300"
>
<ul>
<li class="relative px-6 py-4">
<a
  class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
  href="modals.html"
>
  <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
  <span class="ml-2">DanKariuki</span>
  <img src="" alt="">
  <span class="ml-2" >3h</span>
</a>
</li>
</ul>
  <img
    src="assets/images/post2.jpg"
    class="w-full h-48 object-cover mb-2 rounded-md transform transition hover:scale-105 duration-300 ease-in-out"
  />
  <div class="flex justify-between items-center">
    <div class="flex gap-10">
      <img src="assets/images/heart.svg" alt="">
      <img src="assets/images/comment.svg" alt="">
    </div>
    <div>
      <img src="assets/images/bookmark.svg" alt="">
    </div>
  </div>
  <p class="text-lg font-bold">123 Likes</p>
  <p class="text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse cupiditate quam aliquam </p>

  <p class="text-lg font-bold text-blue-300">View All 571 comments</p>
 <div class="flex justify-between items-center">
  <form >
    <input type="text" placeholder="Add a comment">
  </form>
  <span>post</span>
 </div>
</div>
  
      
  </div>
<div class="">
  <ul>
    <li class="relative px-6 py-4">
      <a
        class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="modals.html"
      >
        <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
       <div class="flex flex-col">
        <span class="ml-2">Isoo123</span>
        <span class="ml-2">Isaac Kilimo</span>
       </div>
      </a>
    </li>
    </ul>
    <ul>
      <p>Suggested For You</p>
    <li class="relative px-6 py-4">
      <a
        class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="modals.html"
      >
        <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
        <span class="ml-2">LeahKyalo2</span>
        <span class="ml-2">Follow</span>
      </a>
    </li>
    <li class="relative px-6 py-4">
      <a
        class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="modals.html"
      >
        <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
        <span class="ml-2">Marywam</span>
        <span class="ml-2"> Follow </span>
      </a>
    </li>
    <li class="relative px-6 py-4">
      <a
        class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="modals.html"
      >
        <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
        <span class="ml-2">DanKariuki</span>
        <span class="ml-2">Follow</span>
      </a>
    </li>
    <li class="relative px-6 py-4">
      <a
        class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
        href="modals.html"
      >
        <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
        <span class="ml-2">NicksonKen</span>
        <span class="ml-2">Follow</span>
      </a>
    </li>
  </ul>
</div>
  
</div>
 </div> 