

  @media screen and (max-width: 768px) {
  .main-content {
      flex-direction: column!important;
      align-items: center;
    }

    .post-content {
      width: 100vw;
    }

    .siderbar-menu {
      width: 0;
      background-color: green;
    }

    .suggested-followers {
      order: 1; 
     }
  
  }

