<div class="flex h-screen border-t fixed">
  <!-- style="background-color: #1D566E;" -->

  <aside class="z-20 h-screen pt-12 w-64 overflow-y-auto text-white md:block flex-shrink-0 border-r border-white">
    <div class="py-4">
      <a class="ml-6 text-lg font-bold" style="font-size: 40px;" href="#">
        TALKY
      </a>
    
      <ul class="mt-12 ">
        <li class="relative px-6 py-4">
          <a
            class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
            href="index.html"
          >
            <img src="assets/images/home.svg" alt="" class="w-10 h-10">
            <span class="ml-7">HOME </span>
          </a>
        </li>
        <li class="relative px-6 py-4">
          <a
            class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            href="forms.html"
          >
            <img src="assets/images/message.svg" alt="" class="w-10 h-10">
            <span class="ml-7">MESSAGES</span>
          </a>
        </li>
        <li class="relative px-6 py-4">
          <a
            class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            href="buttons.html"
          >
            <img src="assets/images/plus.svg" alt="" class="w-10 h-10">
            <span class="ml-7">CREATE POST </span>
          </a>
        </li>
        <li class="relative px-6 py-4">
          <a
            class="inline-flex items-center w-full text-lg font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
            href="modals.html"
          >
            <img src="assets/images/profile2.png" class="w-16 h-16 rounded-full" alt="">
            <span class="ml-2">PROFILE</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

</div>
