
@media only screen and (max-width: 768px) {
.side{
  border: none;
}

.main-sidebar{
  width: 100vw;
  background-color: black;
  justify-content: center;
  height: 10%;
  
}
  .sidebar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    background-color: #cf2e2e; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border: none; 
  }


}
