<div class="flex items-center justify-center h-screen w-full bg-teal-500">
  <div *ngIf="isLoading" class="loading-spinner-item">
    <mat-spinner [mode]="'indeterminate'" [diameter]="50"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="flex items-center login p-8 rounded-lg" style="background-color: #1D566E; width: 70%">
    <h1 class="mr-4" style="width: 50%"><img style="width: 100%" src="assets/images/login.png" width="200px" height="68px"></h1>

    <div style="width: 60% ; margin-left: 10px;">
      <div *ngIf="loginError" class="login-error text-red-500 mb-4">
        The email or password is incorrect
      </div>
      <h1 class="text-center text-white mb-4">LOGIN</h1>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="space-y-4">
        <mat-form-field class="w-full ">
          <input matInput name="email" type="email" placeholder="E-mail" required email class="w-full bg-gray-200 p-2 rounded border-none outline-none" />
          <mat-error>Please enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <input type="password" placeholder="Password" required class="w-full bg-gray-200 p-2 rounded  outline-none focus:border-green-900" />
          <mat-error>Please enter a password</mat-error>
        </mat-form-field>

        <button type="submit" class="text-white mx-3 py-4 rounded bg-teal-500 " style="width: 94%;">Log In</button>
      </form>

      <div class="divider my-4 flex items-center">
        <div class="flex-grow border-t border-white mr-4"></div>
        <span class="text-white">OR</span>
        <div class="flex-grow border-t border-white ml-4"></div>
      </div>

      <div *ngIf="!isLoading" class="infobox text-white">
        <p>Don't have an account? <a routerLink="/signup" class="underline">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
