<!-- <app-sidebar></app-sidebar> -->
<div class="flex items-center justify-center h-screen w-full bg-teal-500">
  <div class="loading-spinner-item" *ngIf="loading">
    <mat-spinner [mode]="'indeterminate'" [diameter]="50"></mat-spinner>
    <p class="text-white mt-2">Talking App is loading...</p>
  </div>

  <div class="flex items-center p-8 rounded-lg" style="background-color: #1D566E; width: 70%">
    <h1 class="mr-4" style="width: 50%"><img style="width: 100%" src="assets/images/login.png" width="200px" height="68px"></h1>

    <div style="width: 60%; margin-left: 20px;">
      <h1 class="text-center text-white mb-4">CREATE AN ACCOUNT</h1>
      <form [formGroup]="signupForm" (ngSubmit)="signupUser()" class="space-y-0.5">
        <mat-form-field class="mx-3" style="width: 90%;">
          <input matInput formControlName="fullName" type="text" placeholder="Full Name" required class="w-full bg-gray-200 rounded border-none outline-none" />
          <mat-error *ngIf="signupForm.get('fullName')?.hasError('required')">Please enter your full name</mat-error>
        </mat-form-field>
        <mat-form-field class="mx-3" style="width: 90%;">
          <input matInput formControlName="username" type="text" placeholder="Username" required class="w-full bg-gray-200 rounded border-none outline-none" />
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')">Please enter a username</mat-error>
        </mat-form-field>
        <mat-form-field class="mx-3" style="width: 90%;">
          <input matInput formControlName="email" type="email" placeholder="E-mail" required email class="w-full bg-gray-200 rounded border-none outline-none" />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Please enter your email</mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="mx-3" style="width: 90%;">
          <input matInput formControlName="password" type="password" placeholder="Password" required class="w-full bg-gray-200 rounded outline-none focus:border-green-900" />
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Please enter a password</mat-error>
        </mat-form-field>

        <button type="submit" class="text-white mx-3 py-3 rounded bg-teal-500" style="width: 90%;">Sign Up</button>
      </form>

      <div class="divider my-2 flex items-center">
        <div class="flex-grow border-t border-white mr-4"></div>
        <span class="text-white">OR</span>
        <div class="flex-grow border-t border-white ml-4"></div>
      </div>

      <div class="infobox text-white text-center">
        <p>Have an account? <a routerLink="/" class="underline">Sign In</a></p>
      </div>
    </div>
  </div>
</div>
