

<div class="card" style="background-image: url('assets/images/not-found.png'); background-size: cover; background-position: center; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; color: #ffffff;">

    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" style="background-color: #1D566E;">Go back home</a>
    </div>
</div>

